<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BankCo Credit Risk System</title>
        <link rel="stylesheet" href="/css/main.css" type="text/css" />
    </head>
    <body>
        <header class="page-header">
            <h1 class="page-header__title">BankCo Credit Risk System</h1>
        </header>
        <div class="login-form-container">
            <form class="login-form" action="/login" method="post">
    
                <div class="form-group__horizontal">
                    <label>Username</label> <input type="text" />
                </div>
    
                <div class="form-group__horizontal">
                    <label>Password</label> <input type="password" />
                </div>
    
                <button type="submit">Login</button>
            </form>
            <p>There have been {{visits}} visits to this site so far</p>
        </div>
    </body>
</html>